<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <h1>Abdul Jaweed</h1>
    <h2 class="ds">Data Scientist</h2>
    <div class="contact">
        <p>Contact : <a href="jdgaming7320@gmail.com">jdgaming7320@gmail.com</a></p>
        <p>LinkedIn : <a href="https://www.linkedin.com/in/abdul-jaweed-datascientist/">https://www.linkedin.com/in/abdul-jaweed-datascientist/</a> </p>
        <p>GitHub : <a href="https://github.com/Abdul-Jaweed">https://github.com/Abdul-Jaweed</a></p>
    </div>

    <div class="img" style="display: flex; align-items: center;">
        <img src="https://avatars.githubusercontent.com/u/114526738?v=4" alt="Profile image" width="200" height="200">
        <p style="margin-left: 10px;">I am a dedicated professional with a strong focus on Data Science and Machine Learning. My enthusiasm lies in unraveling valuable insights from complex datasets and crafting impactful models. With a cup of coffee in hand, I embark on the journey of transforming messy data into meaningful solutions. Drawing from a wealth of internship experiences, I bring a practical perspective to my work, enhancing my ability to create real-world solutions. Additionally, I am actively engaged in nurturing my startup, which centers around contributing to the AI community through open source initiatives.</p>
    </div>

    <div class="edu">
        <h2>Education</h2>
        <ul>
            <li>New Government Degree College Khairatabad</li>
            <li>Government Junior College Aliya</li>
        </ul>
    </div>
    
    <div class="cer">
        <h2>Certification</h2>
        <ul>
            <li>Machine Learning Specialization from Stanford University</li>
            <li>MLOps Specialization from Duke University</li>
            <li>IBM Data Science Specialization</li>
            <li>Python Specialization from Machighan University</li>
        </ul>
    </div>

    <div class="exp">
        <h2>Work Experience</h2>
        <h3>Founder and Data Scientist at InfoAGI</h3>
        <ul>
            <li>Founding InfoAGI to contribute to the data science community through open-source initiatives.</li>
            <li>Spearheading the development of "mlfast," a comprehensive machine learning library.</li>
            <li>Envisioning the creation of "dlfast," an upcoming deep learning framework.</li>
            <li>Building an AutoML web application for accessible and user-friendly machine learning solutions.</li>
            <li>Developing the FastAnalytics framework to easily perform end to end eda and data preprocessing just few lines of code.</li>
        </ul>
    </div>
    
    <div class="skill">
        <h2>Skills</h2>
        <ul>
            <li>Python</li>
            <li>SQL</li>
            <li>Data Analysis</li>
            <li>Machine Learning</li>
            <li>Deep Learning</li>
            <li>MLOps</li>
            <li>AWS</li>
            <li>LLMs</li>
            <li>NLP</li>
            <li>DevOps</li>
        </ul>
    </div>

    <div class="ach">
        <h2>Achievements</h2>
        <ul>
            <li>Successfully building and launching the MLFast library.</li>
            <li>Achieved selection as a data science intern after successfully competing against over 7000 + participants in an ML hackathon and assessment test, ranking among the top 10 percent.</li>
        </ul>
    </div>

    <div class="proj">
        <h1>Projects</h1>

        <div class="p1">
            <h3>MLFast</h3>
            <p><strong>MLFast</strong> its a python machine learning library is built on top of scikit-learn and provides a simple API for regression and classification modeling.</p>
            <p><strong>Tech Used : </strong>Python, Scikit-learn, CICD, Circle CI , Github Actions</p>
            <ul>
                <li>Designed to help new data enthusiasts implement regression and classification models easily.</li>
                <li>Built on top of Scikit-learn and features a simple API for complex algorithms with just 4 to 5 words of code.</li>
                <li>Future plans to include text and image preprocessing capabilities for NLP and CV tasks.</li>
                <li>Includes seamless deployment with popular CI/CD tools such as Circle CI and Github Actions.</li>
            </ul>
        </div>


        <div class="p2">
            <h3>Sensor Fault Detection</h3>
            <p><strong>Tech :</strong> MLFlow, Python, Mongodb, Machine Learning, CICD, Github Actions, Docker, FastAPI.</p>
            <ul>
                <li>Fetch Streaming data through Kafka and store it to mongodb.</li>
                <li>Trained a Machine Learning Classification Model to predict accurate prediction.</li>
                <li>Deployed a web app on AWS EC2 with cloud watch monitoring.</li>
                <li>Designed a continuous training pipeline using GitHub actions on remote machines and utilized an S3 bucket as a model registry.</li>
                <li>Deployed dockerized application on GPU instance using GitHub actions for faster inferencing.</li>
            </ul>
        </div>


        <div class="p3">
            <h3>Resume Matcher  (Application Tracking System)</h3>
            <p><strong>Tech Used : </strong>Python, Scikit-learn, Spacy, NLTK, Transformer</p>
            <ul>
                <li>Successfully extracted data from over 2400+ Resume PDFs stored in the database, categorizing them into more than 24 distinct categories.</li>
                <li>Implemented a keyword extraction system to identify crucial information such as job titles, skills, experience, and educational institutions from the resumes.</li>
                <li>Conducted thorough data cleaning and preprocessing, ensuring that the extracted information was accurate and structured. This involved tokenization to prepare the data for analysis.</li>
                <li>Leveraged Transformer library and Bert Transformer to generate word embeddings, enabling a deeper understanding of the textual content within the resumes.</li>
                <li>Employed scikit-learn for semantic search capabilities, allowing for efficient and meaningful retrieval of relevant resumes. The system presented the top 5 matching results to users, streamlining the candidate selection process.</li>
            </ul>
        </div>

        <div class="p4">
            <h3>Plant Disease Classification</h3>
            <p><strong>Tech :</strong> MLFlow, Python, AWS, Computer Vision, CICD, Circle Ci, Docker, FastAPI, mkdocs.</p>
            <ul>
                <li>Storing Plant Images in AWS S3 bucket.</li>
                <li>Trained a CNN Classification Model to predict accurate prediction.</li>
                <li>Deployed a web app on AWS EC2 with cloud watch monitoring.</li>
                <li>Designed a continuous training pipeline using Circle CI on remote machines and utilized an S3 bucket as a model registry.</li>
                <li>Deployed dockerized application on GPU instance using GitHub actions for faster inferencing.</li>
            </ul>
        </div>

        <!-- <div class="p5">
            <h3>Resume Matcher  (Application Tracking System)</h3>
            <p><strong>Tech Used : </strong>Python, Scikit-learn, Spacy, NLTK, Transformer</p>
            <ul>
                <li>Successfully extracted data from over 2400+ Resume PDFs stored in the database, categorizing them into more than 24 distinct categories.</li>
                <li>Implemented a keyword extraction system to identify crucial information such as job titles, skills, experience, and educational institutions from the resumes.</li>
                <li>Conducted thorough data cleaning and preprocessing, ensuring that the extracted information was accurate and structured. This involved tokenization to prepare the data for analysis.</li>
                <li>Leveraged Transformer library and Bert Transformer to generate word embeddings, enabling a deeper understanding of the textual content within the resumes.</li>
                <li>Employed scikit-learn for semantic search capabilities, allowing for efficient and meaningful retrieval of relevant resumes. The system presented the top 5 matching results to users, streamlining the candidate selection process.</li>
            </ul>
        </div> -->
        
        

    </div>

    <br>

    <div class="footer">
        <footer>
            <small>
                Copyright © 2023 Abdul Jaweed. All Rights Reserved.
            </small>
        </footer>
    </div>

</body>
</html>